backend/node_modules
backend/.env
backend/coverage
backend/coverage.json
backend/typechain
backend/typechain-types

#Hardhat files
backend/cache
backend/artifacts
backend/deployments

#Frontend
frontend/node_modules
frontend/.next

